<!DOCTYPE html>
<html>
	<head>

	</head>

	<body>
	    <div>This is the register page</div>
	    <form method="post" action="/account/register">
	    	<input type="text" name="name" placeholder="Name" /><br />
	    	<input type="text" name="url" placeholder="URL" /><br />
	    	<input type="submit" value="Create" />
	    </form>


	</body>
</html>